Package: tk.ethanrdoesmc.delayedfade
Name: DelayedFade
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Delays and fades in icons.
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
